<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title></title>
    <link rel="stylesheet" href="/public/css/">
</head>
<body>
    <div id="body-containner">

        <div id="containner">
            <%- include('./reusable/header.ejs',{index:}) %>
            <main id="main-containner">
                
            </main>
        </div>
    </div>
    <%- include('./reusable/script.ejs') %>
    <script src="/public/js/"></script>
</body>
</html>