<!DOCTYPE html>
<html>
<head>
    <%- include('../reusable/head.ejs') %>
    <title></title>
    <link rel="stylesheet" href="/public/css/store/about.css">
    <link rel="stylesheet" href="/public/css/store/storeRoot.css">
</head>
<body>
    <div id="body-containner">

        <div id="containner">
            <%- include('./reusable/storeMenu.ejs') %>
            <main id="main-containner">
                
            </main>
        </div>
    </div>
    <%- include('../reusable/script.ejs') %>
    <script src="/public/js/store/about.js"></script>
    <script src="/public/js/store/scriptRoot.js"></script>
</body>
</html>