<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pass</title>
    <%- include('./reusable/head.ejs') %>
        <style>
            body {
                background-color: var(--secundary-color-purple);
            }
        </style>
</head>

<body>

    <div>
        <div id="containner"></div>
        <%- include('./reusable/script.ejs') %>
        

        <script defer>
            const params = new URLSearchParams(window.location.search);
            let refParams = params.get('ref');
            PasswordVerifier.verify({
                onSuccess: () => { 
                    successNotify('Senha verificada com sucesso')
                },
                onError: (msg) => { 
                    errorNotify(msg)
                },
                force: true, 
                type: 'geral',
                redirect: refParams ? refParams : "/dashboard",
                others: null
            })
        </script>
    </div>
</body>

</html>