<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pass</title>
    <%- include('./reusable/head.ejs') %>
        <style>
            body {
                background-color: var(--opacity-color-purple);
            }
        </style>
</head>

<body>

    <div>
        <div id="containner"></div>
        <%- include('./reusable/script.ejs') %>

            <script>
                document.addEventListener('keypress', async (event) => {
                    if (event.key === 'Enter') {
                        document.getElementById('pass-verify-button').click()
                    }
                })
                const params = new URLSearchParams(window.location.search);
                let refParams = params.get('ref');
                
                let finalUrl = refParams ? refParams : "/dashboard"
                
                passVerify(null, 'geral', finalUrl, null)
            </script>
    </div>
</body>

</html>