<!DOCTYPE html>
<html>

<head>
    <%- include('./reusable/head.ejs') %>
        <title>SDK - Planos</title>
        <link rel="stylesheet" href="/public/css/payment.css">
</head>

<body>
    <div id="body-containner">
        <div id="containner">
            <div id="popup-pix-pay-containner" style="display: none;">
                <div id="popup-pix-pay-content">
                    <div id="title-popup">
                        <h1 class="title-col">Pague o pix abaixo para liberar o acesso ao seu bot!</h1>
                    </div>
                    <div id="pix-data">
                        <div id="pix-cpc">
                            <p id="cpc-pix" class="mini-title-col"></p>
                        </div>
                        <div id="pix-qrcode">
                            <img id="qrcode-image" src="">
                        </div>
                    </div>
                    <p class="desc-col">Após o pagamento ele será processado automaticamente, Clique abaixo para ir ao dashboard apos o pagamento!</p>
                    <a href="/dashboard" class="button-padrao" >Ir para o dashboard</a>
                </div>
            </div>
            <div id="change-containner">
                
            </div>

        </div>
    </div>

    <div>
        <script>
            let uid = '<%= user.id %>'
        </script>
    </div>
    <%- include('./reusable/script.ejs') %>
        <script src="/public/js/payment.js"></script>
</body>

</html>