<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pass</title>
    <%- include('./reusable/head.ejs') %>
    <style>
        body{
            background-color: var(--opacity-color-purple);
        }
    </style>
</head>
<body>
    <%- include('./reusable/script.ejs') %>
    <%- include('./reusable/passVerify.ejs') %>
</body>
</html>