<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        init()
        async function init() {
            await window.open("<%= url %>","_blank")
            location.href = "/dashboard"
        }
    </script>
</body>
</html>