#chat-icon-containner {
    z-index: 99999999;
    bottom: 2em;
    right: 2em;
    position: fixed;
    padding: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-max);
    background-color: var(--secundary-color-purple);
    transition: 0.7s;

    &:hover {
        opacity: 0.8;
        transition: 0.7s;
    }
}

#chat-icon-content {
    z-index: 99990;
    width: 3.6em;
    height: 3.6em;
    margin-top: 0.2em;
}

#chat-icon-content svg * {
    fill: white;
}

#chat-containner {
    z-index: 99999999;
    position: fixed;
    padding: 1em ;
    width: 24em;
    height: 34em;
    right: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    bottom: 10em;
    background-color: var(--tertiary-color);
    border-radius: var(--border-radius-min);
}

.newMensage::before {
    content: attr(data-mensages);
    left: 4em;
    position: absolute;
    top: -1em;
    display: flex;
    background-color: #c21010;
    padding: 0.8em;
    height: 0.6em;
    border-radius: 20em;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: 'poppins';
    color: var(--color-text-primary);
    width: 0.6em;
}

#chat-top-content {
    width: 100%;
    height: 3.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #chat-top-title {
        font-weight: 500;
        font-family: 'poppins';
        font-size: 1.2em;
        color: var(--color-fill);
    }

    #chat-top-close {
        cursor: pointer;
    }

    #chat-top-close,
    #chat-top-space {
        width: 3em;
        height: 3em;
        transition: 0.7s;

        &:hover {
            opacity: 0.8;
            transition: 0.7s;
        }
    }
}



#chat-mensages-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.6em 0em 0.6em 0em;
}
#chat-mensages-content-mens{
    width: 100%;
    gap: 1em;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#chat-input-content {
    display: flex;
    gap: 0.6em;
    width: 100%;

    #chat-input-mensage {
        height: 2.5em !important;
    }

    #chat-input-send {
        width: 3em;
        height: 3em;
        cursor: pointer;
        fill: var(--color-fill);
        transition: 0.7s;

        &:hover {
            transition: 0.7s;
            opacity: 0.8;
        }
    }
}

.myMensage {
    justify-content: end !important;

    .mensage-ticket {
        background-color: rgb(85, 61, 170) !important;
    }
}

.mensage-ticket-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mensage-ticket-containner {
    width: 100%;
    display: flex;
    justify-content: start;
}

.mensage-ticket {
    width: fit-content;
    max-width: 90%;
    overflow: hidden;
    padding: 1em;
    background-color: var(--menu-color);
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    border-radius: var(--border-radius-mid);

    .mensage-ticket-image img {
        width: 2.5em;
        height: 2.5em;
        border-radius: var(--border-radius-max);
    }

    .mensage-ticket-text {
        width: 100%;
        overflow-wrap: break-word;
    }

    .mensage-ticket-content {
        display: flex;
        gap: 1em;
    }

    .mensage-ticket-name {

        text-align: start;
        font-family: 'poppins';
        font-size: 0.8em;
        font-weight: 400;
        color: var(--color-text-primary);
    }

    .mensage-ticket-date {
        text-align: start;
        font-family: 'poppins';
        font-size: 0.6em;
        font-weight: 300;
        color: var(--text-gray-color-primary);
    }

    .mensage-ticket-text {
        width: 90%;
        text-align: start;
        font-family: 'poppins';
        font-size: 1em;
        font-weight: 400;
        color: var(--color-text-primary);
    }
}

#create-ticket-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content:center;
}
