#main-containner {
    width: calc(100% - 18em);
    position: relative;
    top: 5em;
    left: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

#main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 5em;
}


#main-content-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 12em);
    gap: 2em;
    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
    margin-top: 5em;
}


#create-cupom-button{
    margin-top: 1em;
}



#select-product-containner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #select-product-content{
        width: 99%;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-height: 15em;
        overflow: auto;
        border: 1px solid var(--text-gray-color-primary);
        #select-product-row{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            justify-content: center;
            align-items: center;
            .select-product-col{
                width: 8.3em;
                display: flex;
                gap: 0.5em;
                padding: 0.5em;
                align-items: center;
                justify-content: space-between;
                border-radius: var(--border-radius-mid);
                background-color: var(--primary-color-opacity);
                .select-product-col-text{
                    display: flex;
                    flex-direction: column;
                }
                .select-product-col-exclud-button{
                    font-family: 'poppins';
                    font-size: 1.2em;
                   
                    font-weight: 900;
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    color: var(--red-color);
                }
                .select-product-col-title{
                    font-family: 'poppins';
                    font-size: 1em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: var(--color-text-primary);
                }
                .select-product-col-desc{
                    font-family: 'poppins';
                    font-size: 0.6em;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: var(--text-gray-color-primary);
                }
            }
            
        }
    }
    
}

.select-product-options-col-title{
    font-family: 'poppins';
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-text-primary);
}
.select-product-options-col-desc{
    font-family: 'poppins';
    font-size: 0.8em;
    
    color: var(--text-gray-color-primary);
}



#select-product-options-containner{
    position: absolute ;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    border-radius: var(--border-radius-min);
    background-color: var(--primary-color);
    #select-product-options-row{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .select-product-options-col{
        width: 100% ;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        opacity: 1;
        transition: 0.7s;
        padding: 0.5em;
        
        &:hover{
            background-color: var(--menu-color);
            opacity: 0.8;
            transition: 0.7s;
            cursor: pointer;
            border-radius: var(--border-radius-min);
        }
    }
}
.select-product-options-col-image{
    width: 2em;
    height: 2em;
    border-radius: var(--border-radius-max);
}
#cupons-row{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.cupons-col{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
.cupons-col-wrap{
    display: flex;
    flex-direction: column;
}

.desactive-cupom,.active-cupom{
    width: 9em;
    
}
@media screen and (max-width:1040px) {
    #main-content{
        width: 100% !important;
        height: auto !important;
        gap: 2em !important;
    }
    #main-containner{
        width: 100% !important;
        height: auto !important;
        left: 0 !important;
    }
}