#containner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#onboarding-row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onboarding-containner{
    position: absolute;
    min-width: 30em;
    width: 40em;
    min-height: 40em;
    height: 85%;
    -webkit-box-shadow: -1px -1px 35px -1px rgba(64,64,64,0.9);
    -moz-box-shadow: -1px -1px 35px -1px rgba(64,64,64,0.9);
    box-shadow: -1px -1px 35px -1px rgba(64,64,64,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    padding: 2em;
    border-radius: var(--border-radius-mid);
    background-color: var(--tertiary-color);
}

.onboarding-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    
}
.onboarding-button-prev{
    width: 15em;
    background-color: transparent;
    border: 2px solid var(--main-color-purple);
}
.onboarding-buttons .onboarding-button-next{
    width: 100%;
}

.onboarding-text{
    width: 100%;
    text-align: left;
    font-size: 1em;
    font-weight: 300;
    color: var(--color-text-primary);
    font-family: 'poppins';
}
.onboarding-text-large{
    width: 100%;
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
    color: var(--color-text-primary);
    font-family: 'poppins';
}
.onboarding-text-destaque{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--color-text-primary);
    font-family: 'poppins';
    margin-top: 1em;
}


.onboarding-title{
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    color: var(--color-text-primary);
    font-family: 'poppins';
}

.onboarding-content{
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
    
}


#progress-onboarding-containner{
    position: absolute;
    top: 45px;
    min-width: 30em;
    width: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.progress-bar-line{
    width: 3.4em;
    height: 0.3em;
    border-radius: var(--border-radius-mid);
    background-color: var(--menu-color);
    transition: 0.6s;
}
.progress-bar-line.active{
    cursor: pointer;
    transition: 0.6s;
    background-color: var(--main-color-purple) !important;
}


#inputs-names-containner{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.error-onboarding-containner{
    margin-bottom: 1em;
}

#store-images-containner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    width: 100%;
}

#image-background-containnner, #image-logo-containnner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
    text-align: center;
}
#image-background-preview-containner,#image-background-preview-containner {
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-background-preview-containner img{
    width: 18em;
    height: 12em;
    object-fit: cover;
    cursor: pointer;
    border-radius: var(--border-radius-mid);
}
#image-logo-preview-containner img{
    width: 12em;
    height: 12em;
    object-fit: cover;
    cursor: pointer;
    border-radius: var(--border-radius-mid);
}

#name-containnner,#identify-user-containnner{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}
#user-data-containner{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

#address-containnner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}
#address-number-containnner{
    width: 14em;
}


#store-link-containner{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: 100%;
    text-align: center;
}


#link-copy-button{
    background-color: transparent;
    padding: 1.2em !important;
    height: fit-content !important;
    border: 5px solid var(--main-color-purple);
}


#confetti{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
