#main-containner {
    width: calc(100% - 18em);
    position: relative;
    top: 5em;
    left: 18em;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    min-height: calc(100vh - 5em);
    
}

#main-content-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 12em);
    gap: 2em;
    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
    margin-top: 5em;
}

/* .itens-col{
    padding: 1em;
    width: 26em;
    height: 20em;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: var(--border-radius-mid);
    background-color: var(--tertiary-color);
} */
.itens-content-col{
    width: 100%;
    flex: 1;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#color-dest-preview{
    display: block;
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--main-color-purple);
    border-radius: var(--border-radius-mid);
    &::before{
        content:"Clique aqui";
        color: var(--color-text-primary);
        font-family: 'poppins';
    }
}

#saveCargoPay,#saveBotName{
    margin-top: 1em;
    
}
#lableAvatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#avatarPreview{
    width: 11em;
    height: 11em;
    border-radius: var(--border-radius-max);
}


@media screen and (max-width:1040px) {
    #main-content{
        width: 100% !important;
        height: auto !important;
        gap: 2em !important;
    }
    #main-containner{
        width: 100% !important;
        height: auto !important;
        left: 0 !important;
    }

}