<div id="store-menu-containner">
    <div id="store-menu-content">
        <ul id="store-menu-nav-list">
            <li><a href="/store/about/<%= store.IDName %>">Sobre</a></li>
            <li><a href="/store/<%= store.IDName %>">Produtos</a></li>
            <li><a href="/store/feedback/<%= store.IDName %>">Avaliações</a></li>
            <div id="store-menu-line"></div>
        </ul>
    </div>
</div>
