<html>
<head>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Para centralizar verticalmente */
            background-color: #121212; /* Fundo escuro para melhor contraste */
        }
        .email-content {
            width: 100%;
            max-width: 600px;
            background-color: #1E1E1E;
            padding: 1em;
            border-radius: 10px;
            box-sizing: border-box;
        }
        .email-content img {
            width: 100%;
            border-radius: 10px;
        }
        h1 {
            font-weight: bold;
            color: #fff;
            font-size: 1.5em;
            margin-top: 1.5em;
        }
        p {
            font-weight: normal;
            color: #fff;
            text-align: start;
            font-size: 1em;
            margin: 1em 0;
        }
        .button {
            display: inline-block;
            font-size: 1.2em;
            font-weight: 400;
            color: #fff !important;
            text-decoration: none;
            background-color: #654BCB;
            border-radius: 20px;
            padding: 1em 2em;
            cursor: pointer;
            margin: 1em;
            transition: background-color 0.3s;
        }
        .button:hover {
            background-color: #4c3ba7;
        }
        .footer {
            margin-top: 1em;
        }
        .footer p {
            font-size: 1em;
            color: #d6d6d6;
            margin: 0;
        }
        .footer .signature {
            font-size: 1.2em;
            font-family: 'Great Vibes', cursive;
            color: #fff;
            margin: 0;
        }
        #code {
            margin-top: 3em; 
            margin-bottom: 2em; 
            border-radius: 10px; 
            border: 2px solid #d6d6d6;
            padding: 1em; 
            text-align: center;
        }
        .code-item {
            font-size: 1em; 
            padding: 1em; 
            border-radius: 5px; 
            background-color: #404040; 
            color: #FFF; 
            font-weight: normal;
        }
        .item-name {
            font-weight: bold;
            font-size: 1.2em !important;
        }
        .item-value {
            width: fit-content !important;
            opacity: 0;
            height: fit-content !important;
            transition: 0.6s;
        }
        .item-value-containner:hover .item-value {
            opacity: 1;
            transition: 0.6s;
        }
    </style>
</head>
<body>
    <div class="email-content">
        <img src="https://res.cloudinary.com/dmfgy0ccd/image/upload/v1726657603/CAPA-PIXEL_ftgohk.gif" alt="Banner">
        <h1>Conteúdo sensível não compartilhar!</h1>
        <p style="margin-top: 1.5em;">Olá, <%= name %></p>
        <p>Abaixo estão suas senhas. Essas senhas são vitais para seu bot, jamais compartilhe a senha ADMIN, ela é responsável por alterar dados sensíveis como dados de pagamento, exclusão de conta ou troca de plano. Já a senha geral é para o uso nos termos principais na plataforma, como o login.</p>
        <p style="margin-top: 1em;">Passe o mouse nas opções para mostrar o conteúdo!</p>
        <div id="code">
            <table style="margin: 0 auto; border-collapse: separate; border-spacing: 1.5em;">
                <tr>
                    <td class="code-item item-name">Senha Admin: </td>
                    <td class="code-item item-value-containner"><span class="item-value"><%= adminPass %></span></td>
                </tr>
                <tr>
                    <td class="code-item item-name">Senha Geral: </td>
                    <td class="code-item item-value-containner"><span class="item-value"><%= geralPass %></span></td>
                </tr>
            </table>
        </div>
        <p>
            Recomendamos apagar esse e-mail após salvar essas senhas em um local seguro. Caso você perca a senha, terá que abrir um caso no suporte e confirmar que você é o dono da conta para receber a senha novamente!
        </p>
        <div class="footer">
            <p>Cumprimentos,</p>
            <p class="signature">SDKApps</p>
        </div>
    </div>
</body>
</html>


            