<style>
    #register-popup-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        width: 100%;
        height: 100%;
    }

    #register-popup-main-content {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 3em;
        padding: 1.5em;
    }

    #register-popup-main-content-inputs-email,
    #register-popup-main-content-inputs-password {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
    }

    #register-popup-main-content-inputs {
        display: flex;
        flex-direction: column;
        gap: 1.3em;
    }

    #register-popup-main-content-register {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #register-popup-main-content-register a {
        font-size: 1em;
    }


    #register-popup-others {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    #register-popup-other-row {
        display: flex;
        gap: 5em;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .register-popup-other-col {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0.8em;
        background-color: var(--secundary-color);
        border-radius: var(--border-radius-max);
        transition: 0.7s;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            transition: 0.7s;
        }
    }

    .register-popup-other-col img {
        width: 3em;
        height: 3em;
        object-fit: contain;

    }
    #register-button{
        width: 100%;
    }
    #register-popup-others{
        margin-bottom: 1em;
    }
</style>

<custom-popup id="register-popup-containner" width="100%" height="100%" max-width="40em" max-height="50em" title="Juntar-se a SDK" closable="true">
    <div id="register-popup-content">
        <div id="register-popup-main-content">
            <div id="register-popup-main-content-inputs">
                <div id="register-popup-main-content-inputs-email">
                    <label class="lable-padrao">Email</label>
                    <input type="email" class="input-padrao" placeholder="Digite o seu email" id="register-email-input">
                </div>
                
                <div id="register-popup-main-content-inputs-password">
                    <label class="lable-padrao">Senha</label>
                    <input-password id="register-password-input" placeholder="Digite sua senha" required></input-password>
                </div>
                <div id="register-popup-main-content-inputs-password">
                    <label class="lable-padrao">Repita a Senha</label>
                    <input-password id="register-confirm-password-input" placeholder="Digite sua senha novamente" required></input-password>
                </div>

            </div>
            <div id="register-popup-main-content-button">
                <button class="button-padrao" id="register-button">Cadastrar-se</button>
            </div>
            <div id="register-popup-main-content-register">
                <a href="#" id="change-login-button" class="redirect-form-link">Já possui uma conta? Faça login</a>
            </div>
        </div>


        <div id="split-line-containner">
            <div class="split-line"></div>
            <div style="font-size: 1em; font-family: poppins; font-weight: 300; color: var(--text-gray-color-primary);">
                Ou</div>
            <div class="split-line"></div>
        </div>


        <div id="register-popup-others">
            <div id="register-popup-other-row">
                <div class="register-popup-other-col googleLoginClass" id="google-register">
                    <img src="/public/img/assets/google_logo.png">
                </div>
                <div class="register-popup-other-col" id="discord-register" onclick="openDiscordLogin()">
                    <img src="/public/img/assets/discord_logo.png">
                </div>
            </div>
        </div>
    </div>
</custom-popup>

<script>

    document.addEventListener('keypress', async (event) => {
        if (event.key === 'Enter') {
            if (document.getElementById('register-popup-containner').PopupIsOpen() == true) {
                document.getElementById('register-button').click()
            }
        }
    })

    document.getElementById('change-login-button').addEventListener('click', () => {
        document.getElementById('register-popup-containner').close()
        document.getElementById('login-popup-containner').open()
    })
</script>