<link rel="stylesheet" href="<%= host %>/public/css/updates.css">
<div id="updates-containner">
    <div id="updates-row">
        <div class="update-col">
            <div class="update-col-version-date">
                <div class="update-col-version">
                    Versão 1.5
                </div>
                •
                <div class="update-col-date">
                    12/08/2024
                </div>
            </div>
            <div class="update-col-content">
                <div class="update-col-content-title">Lista de atualizações: </div>
                <ul class="update-col-content-list">
                    <li><b>Novo comando de cobrança:</b> <br> Ao usar o comando /cobrar em qualquer servidor sera possivel enviar uma cobrança para um membro especifico do servido!</li>
                    <li><b>Mensagem de boas vindas:</b> <br> Agora e possivel dar boas vindas aos usuarios novos atraves do nosso bot!</li>
                </ul>
            </div>
        </div>
        <div class="linha"></div>
    </div>
</div>