<link rel="stylesheet" href="<%= host %>/public/css/updates.css">
<div id="updates-containner">
    <div id="updates-row">
        <div class="update-col">
            <div class="update-col-version-date">
                <div class="update-col-version">
                    Versão 1.6
                </div>
                •
                <div class="update-col-date">
                    30/08/2024
                </div>
            </div>
            <div class="update-col-content">
                <div class="update-col-content-title">Lista de atualizações: </div>
                <ul class="update-col-content-list">
                    <li><b>Meio de pagamento via pix para a assinatura:</b> <br> Agora é possível ter uma assinatura sem o cartão apenas com o pix, visando facilitar a vida das pessoas que não usam ou tem medo de usar o cartão!</li>
                    <li><b>Solicitação de estoque:</b> <br> Com essa funcionalidade os compradores poderão solicitar o estoque de um produto quando ele tiver acabado, enviando uma solicitação imediata para o vendedor!</li>
                    <li><b>Carrinhos expirados:</b> <br> Agora os carrinhos abandonados serão apagados automaticamente após 15 minutos!</li>
                    <li><b>Feedback de compra:</b> <br> Agora após um usuário comprar um produto da sua loja ele tera a opção de dar um feedback!</li>
                </ul>
            </div>
        </div>
        <div class="linha"></div>
        <div class="update-col">
            <div class="update-col-version-date">
                <div class="update-col-version">
                    Versão 1.5
                </div>
                •
                <div class="update-col-date">
                    12/08/2024
                </div>
            </div>
            <div class="update-col-content">
                <div class="update-col-content-title">Lista de atualizações: </div>
                <ul class="update-col-content-list">
                    <li><b>Novo comando de cobrança:</b> <br> Ao usar o comando /cobrar em qualquer servidor sera possivel enviar uma cobrança para um membro especifico do servido!</li>
                    <li><b>Mensagem de boas vindas:</b> <br> Agora e possivel dar boas vindas aos usuarios novos atraves do nosso bot!</li>
                </ul>
            </div>
        </div>
        <div class="linha"></div>
    </div>
</div>